#simpleContextMenu { z-index: 9999999 }

#simpleContextMenu ul {   
    display:block; list-style-type:none; padding:0;  margin:0 }

#simpleContextMenu ul li {
    -moz-user-select: none; -khtml-user-select: none; user-select: none;
    cursor: context-menu; position: relative }

#simpleContextMenu ul li a {
    cursor: context-menu; display: block; text-decoration: none }

/* arrow indicator */
#simpleContextMenu li.more > a span {
    margin-top: -4px; position: absolute; top:50%; right:5px; width:0; height:0;
    border-top: 4px solid transparent; border-right: 4px solid transparent;
    border-bottom: 4px solid transparent; border-left: 4px solid #000;
}

#simpleContextMenu li.separator { border-top: 1px solid #e0e0e0; border-bottom: 1px solid #fff }

#simpleContextMenu li > ul { display: none; position:absolute }





/*************************************************************************
 ***************************** COLOR THEMES ****************************** 
 *************************************************************************/

/* menu container - box */
#simpleContextMenu.default ul {
    font-size:12px; 
    background-color:#ffffff;
    background-image: linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 64%);
    background-image: -o-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 64%);
    background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 64%);
    background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 64%);
    background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(255,255,255) 64%);

    background-image: -webkit-gradient( linear, left bottom, left top,
        color-stop(0, rgb(240,240,240)), color-stop(0.64, rgb(255,255,255)));

    box-shadow: 2px 2px 3px #bbb;
    border: 1px solid #999;
    font-weight: bold;
}

/* menu item */
#simpleContextMenu.default li a {
    border: 1px solid transparent;
    line-height: 20px;
    padding: 0px 18px 0px 8px;
    color: #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin:1px 2px;

}

/* menu item:hover */
#simpleContextMenu.default li a:hover,
#simpleContextMenu.default li.more > a:hover
{
    border: 1px solid #aad6ff;
    background-color: #eaf0ff;
    background-image: linear-gradient(bottom, #E8F2FF 0%, #FFFFFF 100%, #FFFFFF 0%);
    background-image: -o-linear-gradient(bottom, #E8F2FF 0%, #FFFFFF 100%, #FFFFFF 0%);
    background-image: -moz-linear-gradient(bottom, #E8F2FF 0%, #FFFFFF 100%, #FFFFFF 0%);
    background-image: -webkit-linear-gradient(bottom, #E8F2FF 0%, #FFFFFF 100%, #FFFFFF 0%);
    background-image: -ms-linear-gradient(bottom, #E8F2FF 0%, #FFFFFF 100%, #FFFFFF 0%);

    background-image: -webkit-gradient( linear,  left bottom, left top,
        color-stop(0, #E8F2FF), color-stop(1, #FFFFFF), color-stop(0, #FFFFFF));
}

/* separator */
#simpleContextMenu.default li.separator { border-top: 1px solid #e0e0e0; border-bottom: 1px solid #fff }

/* header */
#simpleContextMenu.default li.header {
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    padding: 0px 8px;
    color:#444;
    font-style: italic;
    background-color:#fff;  
}

/* arrow idicator */
#simpleContextMenu.default li.more > a span {  border-left-color: #999 }
#simpleContextMenu.default li.more > a:hover span {  border-left-color: #000 }




